# EnchLib - AviableEnch.config (properties)
# <id>=true|false

minecraft:aqua_affinity=true
minecraft:bane_of_arthropods=true
minecraft:blast_protection=true
minecraft:breach=true
minecraft:channeling=true
minecraft:curse_of_binding=true
minecraft:curse_of_vanishing=true
minecraft:density=true
minecraft:depth_strider=true
minecraft:efficiency=true
minecraft:feather_falling=true
minecraft:fire_aspect=true
minecraft:fire_protection=true
minecraft:flame=true
minecraft:fortune=true
minecraft:frost_walker=true
minecraft:impaling=true
minecraft:infinity=true
minecraft:knockback=true
minecraft:looting=true
minecraft:loyalty=true
minecraft:luck_of_the_sea=true
minecraft:lure=true
minecraft:mending=true
minecraft:multishot=true
minecraft:piercing=true
minecraft:power=true
minecraft:projectile_protection=true
minecraft:protection=true
minecraft:punch=true
minecraft:quick_charge=true
minecraft:respiration=true
minecraft:riptide=true
minecraft:sharpness=true
minecraft:silk_touch=true
minecraft:smite=true
minecraft:soul_speed=true
minecraft:sweeping_edge=true
minecraft:swift_sneak=true
minecraft:thorns=true
minecraft:unbreaking=true
minecraft:wind_burst=true
